$primary: #C31432;
$secondary: #444;
$white: #fff;
$black: #000;
$silver: #ccc;
$font-primary: $white;
$font-secondary: $silver;
$letter-spacing: calc(.01em + 1px);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;