@font-face {
  font-family: 'MADE Soulmaze';
  src: url('../fonts/MADE-Soulmaze.otf') format('otf');
}

$primary: #C31432;
$secondary: #444;
$white: #fff;
$black: #000;
$silver: #ccc;
$font-primary: $white;
$font-secondary: $silver;
$breakpoint: 550px;
