@import "../styles/index.scss";

.container {
  max-width: 135rem;
  height: 100%;
  max-height: 40rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include lg {
    max-height: 60rem;
  }
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 0;
  margin: 0 4vw;
}

.form__field {
  position: relative;
  margin: calc(3vh + 1rem) 0 0 0;

  &::before {
    content: "";
    height: 2px;
    width: 100%;
    background-color: $silver;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &--textarea {
    flex: 1 0 0;
    @media (orientation: landscape) {
      flex: 0 0 0;
      @include sm {
        flex: 1 0 0;
      }
    }
  }
}

.form__input {
  background-color: transparent;
  border: none;
  outline: none;
  color: $font-primary;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.3rem;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: $letter-spacing;

  @include lg {
    font-size: 2.2rem;
  }

  @include xl {
    font-size: 2.4rem;
  }

  &--textarea {
    resize: none;
  }

  &::placeholder {
    color: transparent;
  }

  &:focus + .form__label,
  &:not(:placeholder-shown) + .form__label {
    bottom: 100%;
    font-size: 1.4rem;

    @include lg {
      font-size: 1.6rem;
    }

    @include xl {
      font-size: 1.8rem;
    }
  }

  &:focus + .form__label {
    color: $primary;
  }

  &:focus ~ .form__border {
    width: 100%;
  }
}

.form__label {
  text-align: left;
  color: $secondary;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  pointer-events: none;
  transition: bottom 0.3s, font-size 0.3s, color 0.3s, letter-spacing 0.3s;
  letter-spacing: $letter-spacing;
  font-size: 1.6rem;

  @include lg {
    font-size: 2.2rem;
  }

  @include xl {
    font-size: 2.4rem;
  }
}

.form__border {
  transition: width 0.3s ease-in;
  height: 2px;
  width: 0;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form__submit {
  border: none;
  outline: none;
  background: $white;
  margin: calc(1.5vh + 0.5rem) 0 1.25vh 0;
  padding: 2vh;
  font-family: inherit;
  letter-spacing: $letter-spacing;
  font-size: 1.4rem;
  cursor: pointer;

  &:hover {
    background: $primary;
  }

  @include lg {
    font-size: 2rem;
  }

  @include xl {
    font-size: 2.2rem;
  }
}

.speech {
  display: none;
  text-align: left;
  margin: 0 4vw;
  flex: 1 0 0;

  @include sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.dash {
  position: relative;
  display: inline-block;
  width: 3.3em;
  height: 2px;
  margin-right: 0.8em;
  vertical-align: middle;
  background-color: $silver;
  transition: width 0.3s ease-in;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    background-color: $primary;
    width: 3.3em;
    height: 100%;
    z-index: -1;
  }
}