@import "styles/index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  max-width: 60rem;
  width: 100%;
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.menu__item {
  font-size: 1.4rem;
  letter-spacing: $letter-spacing;

  @include md {
    font-size: 1.8rem;
  }

  &:hover {
    .menu__link {
      color: $primary;
    }
  }
}

.highlighted,
.menu__item.active .menu__link {
  color: $primary;
  position: relative;

  &::after {
    content: attr(data-stroke);
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px $primary;
    left: calc(1.75px + 0.025em);
    top: calc(1.75px + 0.025em);
    z-index: -1;
  }
}

.menu__link,
.social__link {
  text-decoration: none;
  color: $font-primary;
}

.section {
  text-align: center;
}

.hero {
  margin: 0 auto;
  padding: 0 4vw;
  max-width: 135rem;
  max-height: 40rem;

  @include lg {
    max-height: 60rem;
  }
}

.title {
  font-size: 4rem;
  letter-spacing: $letter-spacing;
  font-weight: normal;
  margin: 0 0 1.8rem 0;
  padding: 0;
  color: $font-primary;

  @include lg {
    font-size: 6rem;
  }

  @include xl {
    font-size: 8rem;
  }

  &--contact {
    text-align: right;
    margin: 0;
    line-height: 1.1;

    @include lg {
      line-height: unset;
      margin: 0 0 1.8rem 0;
    }
  }
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: $letter-spacing;
  color: $font-secondary;

  @include lg {
    font-size: 2.2rem;
  }

  @include xl {
    font-size: 2.4rem;
  }
}

.work {
  position: relative;

  &::before,
  &::after {
    color: $secondary;
    position: absolute;
    font-size: 4rem;
    font-style: italic;
    letter-spacing: $letter-spacing;

    @include md {
      font-size: 10rem;

      @media (orientation: landscape) {
        font-size: 4rem;
      }
    }

    @include lg {
      font-size: 12rem;
    }
  }

  &::before {
    -webkit-text-stroke: 1.5px $secondary;
    color: transparent;
    content: "selected";
    top: calc(20vh - 1em);
    left: 5vw;
  }

  &::after {
    content: "works";
    bottom: calc(20vh - 1em);
    right: 5vw;
  }
}

.swiper-container {
  height: 40vh;
}

.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  &-active {
    .figure {
      transform: scale(1);
    }
    .figure__link {
      &::before {
        opacity: 0.5;
      }
    }

    .figure__description {
      transform: translateY(0);
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: $white !important;
  display: none !important;
  transform: scale(1.5);

  @include lg {
    display: block !important;
  }
}

.figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  transition: transform 0.2s 1s;
}

.figure__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.3s 1s;
    background-image: linear-gradient(0deg, $secondary 0%, $primary 100%);
    mix-blend-mode: multiply;
  }
}

.figure__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.figure__code {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $white;
}

.figure__figcaption {
  position: absolute;
  bottom: 15%;
  left: -15%;
  overflow: hidden;
  pointer-events: none;
}

.figure__description {
  position: relative;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: $letter-spacing;
  display: inline-block;
  transform: translateY(100%);
  transition: transform 0.3s 1s;
  color: $font-primary;
  text-align: left;
  z-index: 1;

  @include lg {
    font-size: 4rem;
  }
}

.contact {
  display: flex;
  color: $font-primary;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.social {
  max-width: 20rem;
  width: 100%;
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.social__item {
  font-size: 1.4rem;
  letter-spacing: $letter-spacing;

  @include md {
    font-size: 1.8rem;
  }

  &:hover {
    .social__link {
      color: $primary;
    }
  }
}
